extends layout.pug

block content

  div(class='container intro')
    div(class='d-flex justify-content-center')
      div(class='col-md-10')
        article
          h1 Yo! I´m Peter J. 
          h1 I develop stuff.
          p front developer and #[a(href="https://www.marketgoo.com/culture/" target='blank') marketgoo] nation member
          div(class="ola_buttonGroup")
            a(href='https://www.marketgoo.com/culture' target='blank' class='ola_button is-primary') 
              span(class='ola_button-text') Let’s talk
            a(href='https://medium.com/@pedroparra' target='blank' class='ola_button is-secondary') 
              span(class='ola_button-text') See my posts