meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(href='https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap' rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=Recursive&display=swap' rel='stylesheet')
title Peter J. Parra / front developer / marketgoo nation member