@import url(../node_modules/@marketgoo/ola/dist/index.css);

:root {
    --brand: #5C46C9;
    --dark: #313131;
    --accent-dark: #443492;
    --accent-focus: #F5F3FF;
}

html, body {
    background: var(--dark);
    font-size: 20px;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: grid;
    align-items: center;
}

h1, p, body {
    margin: 0;
    padding: 0;
}

article {
    padding: 150px 0px;
}

h1 {
    color: var(--dark);
    font-family: 'Baloo 2', cursive;
    font-size: 3em;
}

p {
    color: var(--dark);
    font-size: 1em;
    font-family: "Dank Mono", ui-monospace, monospace;
    padding: 1em 0;
}

.intro {
    background-color: white;
    background-image: url("./public/images/background.png");
    background-repeat: no-repeat;
    background-position: 140% center;
    border-radius: 20px;
}

@media (max-width: 575.98px) {
    .intro {
        background-image: none;
        border-radius: 0px;
    }
}  

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .intro {
        background-position: -110% center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .intro {
        background-position: -500% center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .intro {
        background-position: 300% center;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    .intro {
        background-position: 150% center;
    }
}