@import url(../node_modules/@marketgoo/ola/dist/index.css);

:root {
    --brand: #5C46C9;
    --dark: #313131;
    --accent-dark: #443492;
    --accent-focus: #F5F3FF;
}

html, body {
    background: var(--dark);
    font-size: 20px;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: grid;
    align-items: center;
}

h1, p, body {
    margin: 0;
    padding: 0;
}

article {
    padding: 150px 0px;
}

h1 {
    color: var(--dark);
    font-family: 'Baloo 2', cursive;
    font-size: 3em;
}

p {
    color: var(--dark);
    font-size: 1em;
    font-family: "Dank Mono", ui-monospace, monospace;
    padding: 1em 0;
}

.intro {
    background-color: white;
    background-image: url("./public/background.png");
    border-radius: 20px;
}